<!DOCTYPE html>
<html>
<head>
<title>spaCy Demo</title>
</head>
<body>

<form action="/demo" method="get">
Text:<br>
<textarea name="text" rows="30" cols="120">
Joe Milan is not from Milan, Italy.

Example URL: http://www.cnn.com
E-mail: info@testemail.com
Phone: (425) 555-5555

Sample Text:
A U.S. regulator's preliminary investigation into the biggest oil pipeline spill this year has raised a red flag that could trigger an extensive and costly inspection of tens of thousands of miles of underground energy lines.

The 5,000-barrel leak on TransCanada Corp's Keystone pipeline on Nov. 16 in South Dakota might have stemmed from damage caused by a weight put in place when it was built in 2008, the Pipeline and Hazardous Materials Safety Administration said in a report published on Tuesday. Weights are used to prevent pipelines from moving and reduce the risk of damage or ruptures when water tables rise. The regulator's finding has implications for the 2,687-mile (4,324 km) pipeline and others throughout the world. The weights, which tip the scales at 7,000 pounds (3,175 kg) or more, are commonly used, but only the pipeline operators know where they are located.

Damage from weights "could happen on other segments of this pipeline and other pipelines," said Najmedin Meshkati, professor of civil and environmental engineering at the University of Southern California. The Keystone pipeline carries 590,000 barrels per day from Alberta's oil sands to U.S. refineries. TransCanada's proposed Keystone XL line would add another 830,000 bpd of capacity.

Nebraska officials approved the construction of that line even after the leak, although it is still unclear if TransCanada will build it. Depending on the results of the full investigation, construction plans for new lines such as the Keystone XL may need modification. Existing lines may also have to be checked, a difficult and potentially expensive undertaking.
</textarea>
<br>
Return Type: <br>
<input type="radio" name="type" value="html" checked> HTML<br>
<input type="radio" name="type" value="json"> JSON<br>
<br>
<input type="submit" value="Submit">
</form> 

</body>
</html>
